<div class="login-wrapper">
  <div class="login-container">
    <h1 class="label-login pb-6">Registrar</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
        </svg><span class="span-usuario">Nome:</span>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="input-wrapper">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
        </svg><span class="span-usuario">Usuário:</span>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="input-wrapper">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
        </svg><span class="span-usuario">Email:</span>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="input-wrapper">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
        </svg><span class="span-usuario">Data de Nascimento:</span>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div class="input-wrapper">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M2 7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V7Zm5.01 1H5v2.01h2.01V8Zm3 0H8v2.01h2.01V8Zm3 0H11v2.01h2.01V8Zm3 0H14v2.01h2.01V8Zm3 0H17v2.01h2.01V8Zm-12 3H5v2.01h2.01V11Zm3 0H8v2.01h2.01V11Zm3 0H11v2.01h2.01V11Zm3 0H14v2.01h2.01V11Zm3 0H17v2.01h2.01V11Zm-12 3H5v2.01h2.01V14ZM8 14l-.001 2 8.011.01V14H8Zm11.01 0H17v2.01h2.01V14Z" clip-rule="evenodd"/>
        </svg><span class="span-senha">Senha:</span>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
      <div class="login-buttons flex space-x-4 justify-center pt-6">
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded button-enter">Registrar</button>
      </div>

    </form>

    <!-- Exibição de mensagens de erro/sucesso -->
    <div *ngIf="loginError" class="error-message">
      Erro ao realizar login. Tente novamente.
    </div>
    <div *ngIf="loginSuccess" class="success-message">
      Login realizado com sucesso!
    </div>
  </div>
</div>
